* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Inter, san-serif;
	background-color: #282d35;
}

nav {
	display: flex;
	align-items: center;
	background-color: #21222a;
	height: 90px;
	padding: 30px 25px;
}

.nav--logo_icon {
	height: 100%;
	padding-right: 10px;
}

.nav--logo_text,
.nav--title {
	margin: 0;
}

.nav--logo_text {
    margin-right: auto;
	color: #61dafb;
	font-weight: 700;
}

.nav--title {
    color: #deebf8;
    font-weight: 600;
}

.nav--title_link {
    color: #deebf8;
    position: relative;
    font-weight: 600;
    text-decoration: none;
}

.nav--title_link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #deebf8;
    bottom: -4px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }
  
  .nav--title_link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

main {
	padding: 60px 30px;
	color: white;
    background-image: url(./images/react-logo-large.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right 50%;
}

.main--title {
	margin: 0;
	font-size: 40px;
	letter-spacing: -0.03em;
}

.main--facts {
	margin-top: 45px;
	max-width: 400px;
}

.main--facts > li {
	line-height: 20px;
	padding-block: 10px;
}

.main--facts > li::marker {
	font-size: 1.4rem;
	color: #61dafb;
}
